@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* Menggunakan Poppins sebagai font default */
	* {
		@apply text-black;
		font-family: 'Poppins', sans-serif;
	}

	/* Body */
	body {
		@apply bg-main overflow-x-hidden;
	}
}

@layer components {
	/* Hamburger Menu */
	.active {
		display: block;
	}

	.active span:nth-child(1) {
		-webkit-animation: ease 0.7s top forwards;
		animation: ease 0.7s top forwards;
	}

	.not-active span:nth-child(1) {
		-webkit-animation: ease 0.7s top-2 forwards;
		animation: ease 0.7s top-2 forwards;
	}

	.active span:nth-child(2) {
		-webkit-animation: ease 0.7s scaled forwards;
		animation: ease 0.7s scaled forwards;
	}

	.not-active span:nth-child(2) {
		-webkit-animation: ease 0.7s scaled-2 forwards;
		animation: ease 0.7s scaled-2 forwards;
	}

	.active span:nth-child(3) {
		-webkit-animation: ease 0.7s bottom forwards;
		animation: ease 0.7s bottom forwards;
	}

	.not-active span:nth-child(3) {
		-webkit-animation: ease 0.7s bottom-2 forwards;
		animation: ease 0.7s bottom-2 forwards;
	}

	/* Hamburger menu animation */
	@-webkit-keyframes top {
		0% {
			top: 0;
			transform: rotate(0);
		}
		50% {
			top: 12px;
			transform: rotate(0);
		}
		100% {
			top: 12px;
			transform: rotate(45deg);
		}
	}
	@keyframes top {
		0% {
			top: 0;
			transform: rotate(0);
		}
		50% {
			top: 12px;
			transform: rotate(0);
		}
		100% {
			top: 12px;
			transform: rotate(45deg);
		}
	}

	@-webkit-keyframes top-2 {
		0% {
			top: 12px;
			transform: rotate(45deg);
		}
		50% {
			top: 12px;
			transform: rotate(0deg);
		}
		100% {
			top: 0;
			transform: rotate(0deg);
		}
	}

	@keyframes top-2 {
		0% {
			top: 12px;
			transform: rotate(45deg);
		}
		50% {
			top: 12px;
			transform: rotate(0deg);
		}
		100% {
			top: 0;
			transform: rotate(0deg);
		}
	}

	@-webkit-keyframes bottom {
		0% {
			bottom: 0;
			transform: rotate(0);
		}
		50% {
			bottom: 12px;
			transform: rotate(0);
		}
		100% {
			bottom: 12px;
			transform: rotate(135deg);
		}
	}

	@keyframes bottom {
		0% {
			bottom: 0;
			transform: rotate(0);
		}
		50% {
			bottom: 12px;
			transform: rotate(0);
		}
		100% {
			bottom: 12px;
			transform: rotate(135deg);
		}
	}

	@-webkit-keyframes bottom-2 {
		0% {
			bottom: 12px;
			transform: rotate(135deg);
		}
		50% {
			bottom: 12px;
			transform: rotate(0);
		}
		100% {
			bottom: 0;
			transform: rotate(0);
		}
	}

	@keyframes bottom-2 {
		0% {
			bottom: 12px;
			transform: rotate(135deg);
		}
		50% {
			bottom: 12px;
			transform: rotate(0);
		}
		100% {
			bottom: 0;
			transform: rotate(0);
		}
	}

	@-webkit-keyframes scaled {
		50% {
			transform: scale(0);
		}
		100% {
			transform: scale(0);
		}
	}

	@keyframes scaled {
		50% {
			transform: scale(0);
		}
		100% {
			transform: scale(0);
		}
	}

	@-webkit-keyframes scaled-2 {
		0% {
			transform: scale(0);
		}
		50% {
			transform: scale(0);
		}
		100% {
			transform: scale(1);
		}
	}

	@keyframes scaled-2 {
		0% {
			transform: scale(0);
		}
		50% {
			transform: scale(0);
		}
		100% {
			transform: scale(1);
		}
	}
}
